<h1>Editing <%= @user.name %>'s Profile</h1>

<%= render 'form' %>

<p>make delete available for only the curent user or the admin user</p>
  <%= link_to 'Cancel', @user %> | 
  <%= link_to "Delete My Account", @user, method: :delete, data: { confirm: @user.name + '! Are you sure you want to delete your account? There is no undoing this action.' } %>



