/* https://color.adobe.com/Jumping-Fish---New-Site-color-theme-7355512/ */
$orange: #E26F59;
$dark-blue: #04B2D9;
$light-blue: #83C1C0;
$yellow: #FFDF71;
$light-yellow: lighten($yellow, 22%);
$gray: #424747;
$light-gray: #f5f5f5;

$navbar-dropdown-button: $orange;
$navbar-primary: darken($navbar-dropdown-button, 10%);
$navbar-secondary: lighten($navbar-dropdown-button, 20%);
$navbar-text: #FFFFFF;

$site-background: $light-gray;
$content-background: #FFFFFF;

$primary-external-link: $dark-blue;
$secondary-external-link: $light-blue;
$accent-color: $yellow;
$primary-text-color: #444;
$secondary-text-color: #424747;


$primary-background-color: #F5F5F5;
$secondary-background-color: #237CBE;
$tertiary-background-color: lighten(#dcdbd2, 11%);
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$flash-danger-color: #FFA715;
$fieldset-color: lighten($secondary-background-color, 50%);


