// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.fave {
  img {
     width: 0.75em; 
     vertical-align: -2px;
   } /* img */
} /* .fave */

.fave-icon {
  vertical-align: 1.33em;
  font-size: 0.33em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  
  
  a {
    &:link, &:visited {
       color: darkkhaki; 
       background-color: khaki;
       padding: 3px 5px;
       border-radius: 5px;
     } /* &:link, visited */
    &:hover {
       text-decoration: none;
       // color: goldenrod;
       background-color: palegoldenrod;
     } /* &:hover */    
  } /* a */   
} /* .fave-icon */


article.index-listing {
  background-color: $content-background;
  max-width: 500px;
  overflow: auto;
  margin-bottom: 20px;
  h1 {
    font-size: 80%; 
  } /* h1 */
    
  .index-image {
    float: left;
    width: 125px; 
    margin-right: 1.5em;
    img {
      width: 125px;
      height: 125px;
      overflow: hidden;
      background: 50% 50% no-repeat; 
    } /* img */    
  } /* index-image */ 
} /* article.index-listing */

.archived {
  color: white;
  background-color: red;
} /* .archived */


.showpage-image {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  img {
    min-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  } /* img */
  h2 {
    color: white;
    background-color:rgba(4, 178, 217, 0.75);
    padding: 5px 25px 5px 5px;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width: 300px;
    overflow: hidden;

  } /* h2 */
    
    
} /* .showpage-image */
  

  