// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fave {
  img {
     width: 1em; 
     vertical-align: -2px;
   } /* img */
} /* .fave */

// .fave img {
//   width: 25px; 
// } /* .fave img */

article.index-listing {
  max-width: 400px;
  overflow: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  .index-image {
    float: left;
    width: 30%; 
    margin-right: 1em;
    img {
      width: 100%; 
    } /* img */
      
  } /* index-image */ 
} /* article.index-listing */

.archived {
  color: white;
  background-color: red;
} /* .archived */
  




  