@import "colors";

.session {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 2% 10%; 
  margin: 0 auto;
  .button {
    text-align: center;
    a {
    &:link, &:visited {
       color: white; 
       background-color: #04B2D9;
     } /* &:link, visited */
    &:hover {
       text-decoration: none;
       background-color: darken(#04B2D9, 10%);
     } /* &:hover */    
  } /* a */  
  } /* .button */
  .btn {
    margin-top: 20px;
  } /* .btn */
} /* .session */
  