@import "colors";

h1, h2, h3, h4, h5, li, p {
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300;
} /* h1, h2, h3, h4, h5, li, p */
  

.external-link {
  a:link, a:visited {
  color: $primary-external-link;
 } /* a a:link, a:visited */ 
 a:hover, a:active {
  color: $secondary-external-link;
 } /* a a:hover, a:active */  
} /* .external-link */

 a:link, a:visited, a:hover, a:active {
  color: black;
 }

 a:hover {
  text-decoration: none;
  background-color: white;
 }


/* DEFAULT STYLES TO BE MODIFIED OR REMOVED */
 a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: $primary-external-link;
  }
}